@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.main__search {
  display: flex;
  padding: 2.5rem;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.searchbar {
  padding: 1.5rem 3rem 1.5rem 3rem;
  border-radius: 1rem;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
}

.pokelist {
  padding: 5rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.searchbar > input {
  outline: none;
  border: none;
  background: #e0e0e0;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
}

@media only screen and (max-width: 900px) {
  .pokelist {
    padding: 1rem;
  }
}
